<form #form="ngForm" (ngSubmit)="onSubmit()">
    <div>my question</div>

    <div *ngIf="question.type !== 'position'">
        <input type="text" name="question" placeholder="Enter a question" [(ngModel)] = "question.content">
    </div>

    <div>
        <input type="radio" name="questionType" value="text" [(ngModel)] = "question.type"><label>Text</label>
        <input type="radio" name="questionType" value="image" [(ngModel)] = "question.type"><label>image</label>
        <input type="radio" name="questionType" value="sound" [(ngModel)] = "question.type"><label>sound</label>
        <input type="radio" name="questionType" value="position" [(ngModel)] = "question.type"><label>position</label>
    </div>

    <div *ngIf="question.type !== 'position'">
            <div>My answers</div>
            <div *ngFor="let answer of answers">
                <span>{{answer}}</span>
                <button (click)="onClickRemove(answer)" name="{{answer}}">-</button>
            </div>
            <input type="text" name="answer" placeholder="Enter an answer" [(ngModel)] = "currentAnswer">
            <button type="button" (click)="onClick()">+</button>

            <div>
                <button (submit)="onSubmit()">Submit</button>
            </div>
    </div>
</form>

