<div *ngIf='minSuggestion' class="validation-container">
    <div class="suggestion" *ngFor="let suggestion of suggestions">

        <div class="question-container">
            <label>Question</label>
            <app-question [question]='suggestion.question'></app-question>
        </div>

        <div class="answer-form-container">
            <label>Answer form</label>
            <app-answer-form [answerForm]='suggestion.answerForm'></app-answer-form>
        </div>

        <div class="answer-container">
            <label>Answer</label>
            <app-answer [manche]='suggestion'></app-answer>
        </div>

        <div class="buttons">
            <button type='button' (click)="onValidate(suggestion.question.id, true)">Validate</button>
            <button type='button' (click)="onValidate(suggestion.question.id, false)">Reject</button>
        </div>
    </div>
</div>
