@import "../variables";

.answer-container {
    background-color: $middle-grey;
    min-height: 40px;
    color: $light-grey;
    padding: 5px 5px 5px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    div {
        background-color: $middle-grey;
        color: $light-grey;
    }
}