@import "../variables";

.validate-answers-container {
    margin-top: 100px;
}

.validate-answers {
    width: 600px;
}

.question-container {
    padding-bottom: 100px;
}

form {
    width: 600px;
}

.answers {
    max-width: 100%;
    margin-bottom: 50px;

    .userAnswer {
        margin: 0 3px 0 3px;

        .pseudo {
            color: $light-grey;
            font-size: $size-normal;
        }

        .answer {
            color: $light-grey;
            font-size: $size-normal;
            background-color: $middle-grey;
            overflow: hidden;
            text-overflow: ellipsis;
            border-radius: 10px;
            padding: 5px 5px 5px 20px;
        }
    }
}

.submit {
    text-align: center;
    button {
        height: 35px;
        width: 30%;
        border-radius: 10px;
        background-color: $middle-grey;
        color: $light-grey;
        font-size: $size-normal;
    }
}