<div class="validate-answers-container">
    <div class="validate-answers">
        <div class="question-container">
            <app-question [question]='manche.question'></app-question>
            <app-answer [manche]='manche'></app-answer>
        </div>
        <form #form="ngForm" (ngSubmit)="onSubmit()">
            <div class="answers">
                <div class="userAnswer" *ngFor="let userAnswer of userAnswers">
                    <div class="pseudo-time">
                        <div class="pseudo">{{userAnswer.pseudo}}</div>
                        <div class="time">{{userAnswer.time}}ms</div>
                    </div>
                    <div class="answer">{{userAnswer.answer}}</div>
                    <div class="validations">
                        <input type="checkbox" name="validation-userAnswer.pseudo" value="{{userAnswer.pseudo}}" (change)="onChange($event)" checked>
                        <input *ngFor="let user of users" type="checkbox" name='validation-{{user.pseudo}}-userAnswer.pseudo' [(ngModel)]="user.usersChecked[userAnswer.pseudo]" disabled/>
                    </div>
                </div>
            </div>
        
            <div class="submit">
                <button *ngIf='!submitted'>Validate</button>
            </div>
        </form>
    </div>
</div>