<form #form="ngForm" (ngSubmit)="onSubmit()">
    <div *ngIf = "answerForm.type === 'plaintext' || answerForm.type === 'plaintextMultipleValue'">
        <input type="text" name="{{answerForm.type}}{{answerForm.id}}" placeholder="Enter an answer" [(ngModel)] = "answerForm.content">
        <br><br>
    </div>

    <div *ngIf = "answerForm.type === 'radio'">
        <div *ngFor = "let option of answerForm.options">
            <input type="radio" name="{{answerForm.type}}{{answerForm.id}}" value="{{option}}" [(ngModel)] = "answerForm.content"><label>{{option}}</label>
        </div>
        <br><br>
    </div>

    <div *ngIf = "answerForm.type === 'checkbox'">
        <div *ngFor = "let option of answerForm.options">
            <input type="checkbox" name="{{answerForm.type}}{{answerForm.id}}" value="{{option}}" (change)="onChange($event)"><label>{{option}}</label>
        </div>
        <br><br>
    </div>

    <button *ngIf='!submitted'>Validate</button>
</form>