<div class="navbar-content">
    <div (click)="clearSessionStorage()">
        <span>Clear session storage</span>
    </div>
    <a *ngIf='!currentUser' [routerLink]="['/']">
        <div>
            <span>Connexion</span>
        </div>
    </a>

    <a [routerLink]="['/suggestion']">
        <div>
            <span>Suggestion</span>
        </div>
    </a>

    <a [routerLink]="['/validation']">
        <div>
            <span>Validation</span>
        </div>
    </a>

    <a [routerLink]="['/room']">
        <div>
            <span>Room</span>
        </div>
    </a>
</div>