<div class="navbar-content">
    <div (click)="clearSessionStorage()">
        <span>Clear session storage</span>
    </div>
    <a href="/">
        <div>
            <span>Connexion</span>
        </div>
    </a>

    <a href="/suggestion">
        <div>
            <span>Suggestion</span>
        </div>
    </a>

    <a href="/validation">
        <div>
            <span>Validation</span>
        </div>
    </a>

    <a href="/room">
        <div>
            <span>Room</span>
        </div>
    </a>
</div>