<div class="room-container">
    <div class="room">
        <div class="users">
            <div class="user" *ngFor="let user of users">
                <mat-icon *ngIf="user.ready" class="ready">check</mat-icon>
                <div class="user-info">
                    <span class="pseudo" [ngClass]="{'currentUser': user.pseudo === currentUser.pseudo}">{{user.pseudo}}</span>
                </div>
            </div>
        </div>
        
        <div class="create-room" *ngIf="!room">
            <button type='button' (click)="onClick('emitCreateGame')">Create a game</button>
        </div>



        <label *ngIf="!room">Join a game</label>
        <div class="join-room" *ngIf="!room">
            <div class="join-input">
                <input type="text" name="Pseudo" placeholder="Enter a room code" [(ngModel)] = "joinedRoom">
            </div>
            <div class="join-button">
                <button type='button' (click)="onClick('emitNewUser')"><mat-icon>login</mat-icon></button>
            </div>
        </div>
        
        <div class="room-code-container" *ngIf="room">
            <span>Room code: <span class="room-code">{{room}}</span></span>
        </div>
        
        <form #form="ngForm" (ngSubmit)="onSubmit()" *ngIf="room">
            <button>Ready</button>
        </form>
    </div>
</div>