@import "../variables";

.currentUser {
    color: red;
}

.room {
    background-color: $middle-grey;
    width: 600px;
    box-sizing: border-box;
    padding: 2px 0 2px 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: stretch;
}

.user {
    display: flex;
    justify-content: center;
    background-color: $dark-grey;
    width: 30%;
    height: 50px;
    border-radius: 15px;
    margin: 4px 4px 4px 4px;

    .user-info {
        width: 100%;
        height: 100%;
        line-height: 50px;
        text-align: center;
    }
}