<div class="room">
    <div class="user" *ngFor="let user of users">
        <div class="user-info">
            <span [className]="user.pseudo === currentUser.pseudo ? 'currentUser' : ''">{{user.pseudo}}</span>
        </div>
    </div>
    
    <div class="user" *ngFor="let user of users">
        <div class="user-info">
            <span [className]="user.pseudo === currentUser.pseudo ? 'currentUser' : ''">{{user.pseudo}}</span>
        </div>
    </div>
    
    <div class="user" *ngFor="let user of users">
        <div class="user-info">
            <span [className]="user.pseudo === currentUser.pseudo ? 'currentUser' : ''">{{user.pseudo}}</span>
        </div>
    </div>  
</div>

<form #form="ngForm" (ngSubmit)="onSubmit()">
    <button>Ready</button>
</form>

<div *ngIf="!room">
    <button type='button' (click)="onClick('emitCreateGame')">Create a game</button>
    <button type='button' (click)="onClick('emitNewUser')">Join a game</button>
</div>