@import "../variables";

img {
    max-height: 250px;
}

.question-container {
    margin-bottom: 200px;
    margin-bottom: 20px;

}

.question {
    background: $middle-grey;
    color: $light-grey;
    border-radius: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 50px;
    padding: 5px 5px 5px 5px;

    div {
        text-align: center;
        font-size: 1.3em;
    }
}

.image-container {
    text-align: center;
}