@import "../variables";

img {
    height: 100px;
    width: 100px;
}

.question-container {
    margin-bottom: 200px;
}

.question {
    background: $middle-grey;
    color: $light-grey;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 1.3em;
    border-radius: 20px;
}