$size-login-icon: 32px;
$size-input-big: 1.5em;
$size-normal: 1em;
$size-smaller: 0.7em;


$light-grey: #7881A1;
$middle-grey-lighter: #44495c;
$middle-grey: #393f54;
$dark-grey-ligther: #30333d;
$dark-grey: #202225;