@import "../variables";

.manche-container {
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.manche {
    width: 600px;
}