@import "./app/variables";

body {
    background-color: $dark-grey;
}

input { border-style: none; background: transparent; outline: none; }
button { padding: 0; background: none; border: none; outline: none; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
app-root { 
    width: 100%;
    height: 100%; 
    display:flex;
    flex-direction: column;
}

input[type=text] {
    height: 100%;
    width: 100%;
    padding-left: 20px;
    box-sizing: border-box;
    color: $light-grey;
    font-size: $size-input-big;
    background-color: $middle-grey;
}