@import "./app/variables";

html {
    height: 100%;
}
body {
    background-color: $dark-grey;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
    padding: 0;
}

input { border-style: none; background: transparent; outline: none; }
button { padding: 0; background: none; border: none; outline: none; }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

input[type=text] {
    height: 100%;
    width: 100%;
    padding-left: 20px;
    box-sizing: border-box;
    color: $light-grey;
    font-size: $size-input-big;
    background-color: $middle-grey;
}