@import "../variables";

.ranking {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: $app-container-height;
}

.user {
    background-color: $middle-grey;
    height: 40px;
    width: 100%;

    display: flex;
    justify-content: space-between;

    margin: 2px 0 50px 0;
    padding: 0 10px 0 10px;
    border-radius: 10px;

    .pseudo, .result {
        color: $light-grey;
        font-size: $size-normal;
        line-height: 40px;
    }
}

.room-link {
    width: 150px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: $middle-grey;
    a {
        text-decoration: none;
        color: $light-grey;
    }
}

.room-link :hover {
    background-color: $middle-grey-lighter;
}

@media (max-width: 600px) {
    .ranking {
        width: 90vw;
        min-width: 250px;
    }
}